body {
    margin:0;
    padding:0;
    border: 0;
}

.lasagna-container {
  max-width:100vw ;
  height: 100vh ; 
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("../odin-recipes/lasagna.jpeg"); 
}
.title {
    color: white;
    padding: 25px;
}
.heading {
    height: 100px;
    width: 100vw;
    background-color: #000000;
}

.recipes-title {
    color:white;
    margin: 0;
}